<a href="https://colab.research.google.com/github/shilphypg/DSA_ICTAK/blob/main/Python_While_loop_class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating a variable
i=0
while(i!=10):
  print(i)
  i+=2

0
2
4
6
8

In [ ]:
i=0
while(i!=10):
  i+=2
  print(i)

2
4
6
8
10

In [ ]:
#creating a variable
i=1
while(i<5):
  print(i)
  i+=1

1
2
3
4

In [ ]:
#creating a variable
i=1
while(i<10):
  print(i)
  i+=2

1
3
5
7
9

In [ ]:
#grouping odd and even
number=[10,15,89,25,36,45]
even=[]
odd=[]

while(len(number)>0):
  number1=number.pop()

  if(number1 % 2==0):
    even.append(number1)

  else:
      odd.append(number1)

print(even)
print(odd)

[36, 10]
[45, 25, 89, 15]

In [ ]:
print('type NO to stop execution')
name_l=[]
a=''

while(a!='NO'):
  name=input('Enter your Name: ')
  a=input('Do you want to continue, enter NO to Stop')
  a=a.upper()
  name_l.append(name)
print(name_l)

type NO to stop execution
Enter your Name: Serah
Do you want to continue, enter NO to StopNo
['Serah']

In [ ]:
f=['apple','orange','kiwi','grapes']

for i in f:
    if(i=='kiwi'):
      break
     print(i)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [ ]:
f=['apple','orange','kiwi','grapes']
for i in f:
  if(i=='kiwi'):
    break
  print(i)

apple
orange

In [ ]:
f=['apple','orange','kiwi','grapes']
for i in f:
  if(i=='kiwi'):
    continue
  print(i)

apple
orange
grapes

In [ ]:
#**If**elif**else**

price_tv=20000

if price_tv<25000:
  print("pease pack it")

pease pack it

In [ ]:
num=int(input('enter a number:'))

if num>5:print(num, 'is greater than 5')

enter a number:5

In [ ]:
num=int(input('enter a number:'))

if num>5:print(num, 'is greater than 5')
else:
  print(num,'number is less than 5')

enter a number:2
2 number is less than 5

In [ ]:
num=int((input('enter the no: ')))

if num%2==0:
  print(num, "is an even no")

else
  print(num, "is an odd no")

SyntaxError: expected ':' (<ipython-input-24-86f0e7d3f6b7>, line 6)

In [ ]:
age=12
name='Anu'
#name='Ramu'
if age == 12 and name == 'Anu':
  print('Hi Anu')
elif name=='Ramu':
  print('Ramu')
else:
  print('You are neither Anu nor Ramu')

Hi Anu

In [ ]:

a=12
b=32
c=20
if a>b and a>c:
  print(a, 'is the biggest')

elif b>a and b>c:
  print(b, 'is the biggest')
else:
  print(c, 'is the biggest')

32 is the biggest

In [ ]:
n=int((input('enter the no: ')))

if n>1:
  for i in range(2,n):
    if n%i==0:
      print(n,'not a prime no')
      break
  else:
      print(n,'is a prime no')
else:
        print(n,'not a prime no')

enter the no: 9
9 not a prime no

In [ ]:
for i in range(1,6):
  print('multiplication table of ', i)

  for j in range(1,11):
    print(i,'*',j,'=',i*j)

multiplication table of  1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
multiplication table of  2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
multiplication table of  3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
multiplication table of  4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
multiplication table of  5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
l1=['aple','bab','efwj','vsb','hjk']
l1

['aple', 'bab', 'efwj', 'vsb', 'hjk']

In [ ]:
for i in l1:
    print(i)

aple
bab
efwj
vsb
hjk

In [ ]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,101):
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
for i in range(1,101,3):
  print(i,end=" ")

1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88 91 94 97 100

In [ ]:
for i in l1[2:5]:
  print(i)

efwj
vsb
hjk

In [ ]:
#print all numbers divisible by 5 from 1 to 100
for i in range(1,101):
  if(i%5==0):
    print(i,end=" ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [ ]:
#print factorial of a number(5!=5*4*3*2*1)
num=int(input("Enter the no: "))
fact=1
for i in range (1,num+1):
  fact=fact*i
print(f'factorial of {num} is {fact}')

Enter the no: 5
factorial of 5 is 120

In [ ]:
#program to check whether the given no is paliandrome 1234---->4321,123456---->654321
num=int(input("Enter the no: "))
temp=num
rev=0
while(temp):
  n=temp%10
  rev=rev*10+n
  temp=temp//10
#print(rev)
if(num==rev):
  print('Number is paliandrome')
else:
  print('Number  is not paliandrome ')

Enter the no: 1221
1221
Number is paliandrome

In [ ]:
def add_two_nos(a,b):
  return a+b

In [ ]:
add_two_nos(4,5)

9

In [ ]:
add_two_nos(age,age)

24

In [ ]:
# factorial using function
def fact(n):
  f=1
  for i in range(1,n+1):
    f=f*i
  return f

In [ ]:
fact(10)

3628800

In [ ]:
for k in range(1,11):
  print(fact(k),end=" ")

1 2 6 24 120 720 5040 40320 362880 3628800

In [ ]:
#program to check whether the given no is paliandrome 1234---->4321,123456---->654321
def paliandrome(num):
  temp=num
  rev=0
  while(temp):
    n=temp%10
    rev=rev*10+n
    temp=temp//10
  if(num==rev):
    return True
  else:
    return False

In [ ]:
paliandrome(1212)

False

In [ ]:
paliandrome(1221)

True

In [ ]:
for i in range(1,1001):
  if(paliandrome(i)):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [ ]:
print(round(8.479))

8

In [ ]:
colors = ["green", "pink", "red", "white"]
print("yellow" in colors)

False

In [ ]:
L=list("ictak kerala")
print(L[8 : -1])

['r', 'a', 'l']

In [ ]:
d = {0: 'a', 1: 'b', 2: 'c'}
for i in d:
     print(i)

0
1
2

In [ ]:
a="abcd"
b="p"
while b in a:
      print(b,end=" ")

In [ ]:
print(True**False/True*False)

0.0

In [ ]:
L=['a','b','c','d','e','hello',[1,2,3]]
print(L[5])

hello

In [ ]:
L = [1,3,4,5,6,7,8]
print(L[1:8:2])

[3, 5, 7]

In [ ]:
print(print(print("Hello world")))

Hello world
None
None

In [ ]:
d = {0: 'a', 1: 'b', 2: 'c'}
for i in d:
     print(i)

0
1
2